.jumbotron{:style => "background-color: transparent"}
  %h1{:align => "center"} Ordering Food
  %p{:align => "center"} 
    Maecenas vel tellus at magna sagittis venenatis.Integer pretium auctor 
  %p{:align => "center"}
    magna, egestas justo gravida vitae.In lacinia auctor auctor
  